<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Clinica noastră te întâmpină cu o echipă de profesioniști și tratamente personalizate."><!-- descrierea paginii, adesea apare sub link cand sunt afisate rezultatele cautarii -->
        <meta name="keywords" content="medici, stomatolog, tratamente, sănătate orală"><!--cuvintele cheie ale paginii; majoritatea motoarelor de cautare ignora keywords -->
        <link rel="stylesheet" href="/resurse/css/servicii.css" type="text/css" />
        <title>HappyDent</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/servicii.js></script>
        <script type="text/javascript" src=/resurse/js/servicii-cos.js></script>

    </head>
    <body>
        <%- include("../fragmente/header") %> 
    <main>
        <label> Nume: <input type="text" id="inp-nume"></label>
        <!-- <div> Calorii:
            <p><label>Dietetic (calorii &lt; 350)
                <input id="i_rad1"  name="gr_rad" value="0:350" type="radio"/>
            </label></p>
            <p><label>Mediu (350 &le; calorii &lt; 700)
                <input id="i_rad2"  name="gr_rad" value="350:700" type="radio"/>
            </label>
            <p><label>Ridicat caloric (700 &le; calorii)
                <input id="i_rad3" name="gr_rad" value="700:1000000000" type="radio"/>
            </label>
            <p><label>Toate
                <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
            </label>
        </div> -->


        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="20000"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>

        <p>
        <button id="filtrare">Filtreaza</button> 

        <button id="resetare">Reseteaza</button><br/>
        <button id="sortCrescNume">Sorteaza crescator dupa pret si nume</button>
        <button id="sortDescrescNume">Sorteaza descrescator dupa pret si nume</button>
        
        </p>
      
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
  
        <section id="servicii">

            <h2>Servicii</h2>
            <div class="grid-servicii">
                <% for( let serv of locals.servicii) { %>
                    <article class="serviciu" >
                        <h3 class="nume">Nume: <a href="/serviciu/<%-serv.id %>" ><span class="val-nume"><%- serv.nume%></span></a></h3>
                        <div class="info-serv">
                            <p class="pret">Pret: <span class="val-pret"><%- serv.pret%></span></p>
                            <p class="grad_complexitate">Complexitate: <span class="val-complexitate"><%- serv.grad_complexitate%></span></p>
                            <p class="durata">Durata: <span class="val-durata"><%- serv.durata%></span></p>
                        </div>
                        <div class="linie-serviciu">
                            <p class="tip_serviciu">Tip serviciu: <span class="val-tip_serviciu"><%- serv.tip_serviciu %></span></p>
                            <p class="categorie">Categorie: <span class="val-categorie"><%- serv.categorie %></span></p>
                        </div>
                        <div class="descriere-imagine">
                            <p class="descriere"><%- serv.descriere %></p>
                            <figure>
                                <img src="/resurse/imagini/servicii/<%- serv.imagine %>" alt="Imagine <%- serv.nume %>" />
                            </figure>
                        </div>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-serv.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>